
 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*
{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    caret-color: transparent;
}

nav {
    background-color: #000;
    height: 50px;
    color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

nav ul li {
    padding: 0px 10px;
}

.brandName {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

.brandName img {
    height: 40px;
    padding: 5px 10px;
}

.song-Container {
    min-height: 65vh;
    background-color: #000;
    width: 70%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 20px;
    background-image: url("/backgroundimage.jpg");
    background-size: cover;
}
.song-Container h3 {
    color: #fff;
}
.song-list {
    margin-top:20px;
}
.songitems {
    height: 6vh;
    background-color: #fff;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    margin-top: 15px;
}
.songitems img {
    height: 100%;
    border-radius: 50%;
}
.songitems i {
    cursor: pointer;
}
.song-info-control {
    font-size: 1rem;
}

.song-Control {
    position: sticky;
    height: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons i {
    cursor: pointer;
}
#progressbar {
    width: 70vw;
    cursor: pointer;
}

.song-info {
    position: absolute;
    left: 15vw;
    margin-top: 10px;
    font-size: 0.8rem;
}
.song-info img {
    height: 10px;
    padding: 0px 5px;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}


/*Mobile*/
@media (max-width: 768px) {
   
    .songitems {
        width: 100%;
        padding: 0px 5px;
        text-align: center;
    }
    .songItemsPlay {
        padding: 0px 8px;
    }
    .song-info {
        display: none;
    }
  
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
 
    .songitems {
        width: 100%;
        padding: 0px 5px;
        text-align: center;
    }
    .songItemsPlay {
        padding: 0px 8px;
    }
}   

/*laptop & PC Screen */

@media (min-width: 1025px) and (max-width: 1280px) {
  .songitems {
        width: 100%;
        padding: 0px 5px;
        text-align: center;
    }
    .songItemsPlay {
        padding: 0px 8px;
    }
}   